.container {
    margin: 0;
    padding: 0;
    width: 99%;
    margin: 5px 5px 5px 5px;
    overflow: hidden;
}

.titulo {
    font-size: xx-large;
}

.sub-container-left {
    padding-left: 10px;
    padding-top: 10px;
    float: left;
    width: 30%;
}

.sub-container-right{
    float: left;
    width: 51%;
}

.center {
    text-align: center;
}

.bottom-container {
    width: 19%;
    padding-left: 10px;
    padding-top: 10px;
    float: left;
}

.box {
    background-color: royalblue;
    height: 50%;
    width: 99.5%;
    left: 20%;
    top: 20%;
    text-align: left;
    padding-top: 1px;
    margin-left: 1px;
    margin-bottom: 1px;
    margin-top: 1px;
    font-size: xx-large;
    padding-left: 5px;
}

.box-title {
    text-align: center;
    color:white;
}

.box-bg-color {
    background-color: floralwhite;
}

body {
    overflow: auto;
}